// Background Color
$clr-backgroundLiner-color: linear-gradient(135deg, #8E53E4 0%, #4B22B9 100%);

// Main Colors
$clr-sidebar-backgroundColor: #292D32;
$clr-header-backgroundColor: #F5F7FA;
$clr-name-color: #292D32;
$clr-mainBorder-color: #E3EAF3;
$clr-email-color: #828F9A;
$clr-backButton-color: #8F9CA7;
$clr-backButton-backgroundColor: #F7F8FB;
$clr-backBorder-color: #E3EAF3;
$clr-nextButton-backgroundColor: #6C70DC;
$clr-nextButton-color: #FFFFFF;
$clr-error-backgroundColor: #F4BE6C;

// Sidebar Colors
$clr-numbers-color: #FFFFFF;
$clr-activeLocation-color: #53D56C;
$clr-deactiveLocation-backgroundColor: #4D545A;
$clr-deactiveName-color: #626C76;
$clr-doneOval-color: #6C70DC;