.date-time-area {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;

    .date-header-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .calendar {
        box-shadow: 0px 0px 50px 0px rgba(174, 174, 174, 0.24);
        margin-top: 1rem;
    }
}

.header-area {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: default;



    .calendar-month-year-name {
        font-weight: 400;
        font-size: 1.4rem;
        width: 150px;
        text-align: center;
    }

    .arrow-back {
        border: 0;
        background-color: #F5F7FA;
        cursor: pointer;
    }

    .arrow-next {
        border: 0;
        background-color: #F5F7FA;
        cursor: pointer;
    }
}

.time-header-area {
    display: flex;
    justify-content: center;
    width: 100%;

    .time-note-name {
        font-weight: 400;
        font-size: 1.4rem;
    }
}

.calendar-weeks {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 2rem 1.8rem 0.5rem 1.8rem;
    border-bottom: 1px solid #E3EAF3;

    .week {
        width: 4.8rem;
        color: #C8C9CC;
        text-align: center;
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.2px;
        cursor: default;
    }
}

.calendar-days {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    padding: 0.5rem 2rem;
    gap: 10px;

    .day {
        display: flex;
        width: 50px;
        padding: 11px 0px 6px 0px;
        justify-content: center;
        align-items: center;
        color: #AAACAF;
        font-size: 15px;
        font-weight: 400;
        background-color: #ECEDF1;
        cursor: default;
    }

    .padding {
        display: flex;
        width: 50px;
        padding: 11px 0px 6px 0px;
        justify-content: center;
        align-items: center;
        color: #111;
        font-size: 15px;
        font-weight: 400;
        background-color: #ECEDF1;
        cursor: default;
    }

    .selected-day {
        display: flex;
        width: 50px;
        padding: 11px 0px 6px 0px;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-size: 15px;
        font-weight: 400;
        background-color: #6C70DC;
        cursor: default;
    }
}

.time-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    cursor: default;
}

.time-note {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 305px;
    box-shadow: 0px 0px 50px 0px rgba(174, 174, 174, 0.24);
    margin-top: 1.9rem;

    .time-note-header {
        text-align: center;
        color: #6C70DC;
        font-size: 14px;
        font-weight: 400;
        padding: 1.3rem ;
        border-bottom: 1px solid #E3EAF3;
        width: 100%;
    }

    .time-note-main {
        display: flex;
        // flex-wrap: wrap;
        height: 250px;

        .time {
            display: flex;
            height: 42px;
            padding: 1rem 2.2rem 1rem 2.1rem;
            justify-content: center;
            align-items: center;
            color: #111;
            font-size: 14px;
            background-color: #ECEFF2;
            margin: 1.2rem 1rem;
            cursor: pointer;
        }

        .time-active {
            background-color: #53D56C;
            color: white;
            display: flex;
            height: 42px;
            padding: 1rem 2.2rem 1rem 2.1rem;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            margin: 1.2rem 1rem;
            cursor: pointer;
        }
    }
}